html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.octocat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    border: 5px solid #2a2b2f;
}

.mona-images {
    max-width: 130%; /* Ajusta el tamaño de las imágenes al 50% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    border-radius: 4px; /* Bordes redondeados */
}

.haiku-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 0 auto;
    max-width: 90%;
}

.haikus {
    text-align: left;
    font-size: 1.2rem;
    white-space: pre-wrap;
    margin-bottom: 10px;
}

.haiku-content {
    display: flex;
    align-items: center; /* Alinea el emoji y el texto verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-bottom: 10px; /* Espaciado entre el texto y la imagen */
}

.emoji {
    margin-right: 2px; /* Espacio entre el emoji y el texto */
    font-size: 1.5rem; /* Tamaño del emoji */
}

@media only screen and (max-width: 600px) {
    .mona-images {
        max-width: 200px;
    }

    .haikus {
        font-size: 1rem;
    }

    .haiku-containers {
        padding: 4px;
    }
}
