html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > *:not(footer) {
    flex: 1;
}

body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.mona-images {
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    border: 80px solid #2a2b2f;
    
}

/* .haiku-containers {
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.haikus {
    text-align: left;
    font-size: 18px;
    white-space: pre-wrap;
} */

.haiku-containers {
    display: flex; /* Activa Flexbox */
    flex-direction: column;
    align-items: center; /* Centra verticalmente el contenedor */ /* Asegura que ocupe toda la altura de la pantalla */
    padding: 10px;
}

.haikus {
    text-align: left; /* Alinea el texto hacia la izquierda */
    font-size: 18px;
    white-space: pre-wrap; /* Respeta los saltos de línea */

}

@media only screen and (max-width: 600px) {
    .june-images {
        max-width: 340px;
        max-height: 340px;
    }

    .haikus {
        font-size: 22px;
    }
}
