html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem; /* Tamaño base del texto */
    line-height: 1.5; /* Espaciado entre líneas */
}

body > *:not(footer) {
    flex: 1;
}

body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align: center;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.top {
    margin-top: 2%;
}

.octocat{
    width: 10%; /* La imagen ocupará el 100% del ancho del contenedor */
    max-width: 300px; /* Tamaño máximo de ancho */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border: 5px solid #2a2b2f; /* Ajuste del borde */
}

.mona-images {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    max-width: 300px; /* Tamaño máximo de ancho */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border: 5px solid #2a2b2f; /* Ajuste del borde */
}

.emoji {
    font-size: 1.5rem; /* Tamaño del emoji */
    margin-right: 16px; /* Espacio entre el emoji y el texto */
    vertical-align: middle; /* Alinea el emoji con el texto */
}

.haiku-containers {
    display: flex; /* Activa Flexbox */
    flex-direction: column;
    align-items: center; /* Centra verticalmente el contenedor */
    padding: 8px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 90%; /* Limita el ancho máximo */
}

.haikus {
    text-align: left; /* Alinea el texto hacia la izquierda */
    font-size: 1.2rem; /* Ajusta el tamaño del texto */
    white-space: pre-wrap; /* Respeta los saltos de línea */
    margin-bottom: 10px; /* Espaciado inferior */
}

@media only screen and (max-width: 600px) {
    .mona-images {
        max-width: 200px; /* Reduce el tamaño máximo en pantallas pequeñas */
    }

    .haikus {
        font-size: 1rem; /* Reduce el tamaño del texto en pantallas pequeñas */
    }

    .haiku-containers {
        padding: 4px; /* Reduce el padding en pantallas pequeñas */
    }
}
